parameters:

    mongodb_uri: ~
    mongodb_db: ~

    locale:            en
    default_locale:    en
    secret:            ThisTokenIsNotSoSecretChangeIt
    mailer_transport: gmail
    mailer_host: null
    mailer_user: ~
    mailer_password: ~

    # AMAZON
    amazon_s3.key: s3key
    amazon_s3.secret: s3secret
    amazon_s3.region: us-east-1
    amazon_s3.media_bucket: goesir

    # Assets
    assets.version: v5
    assets.baseurl: https://arcane-cliffs-65402.herokuapp.com
